.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px 55px 10px;


    flex-direction: column;
}

.container input {
    width: 30%;
    height: 63.13px;
    left: calc(50% - 423px/2 - 0.5px);
    top: 259.89px;
    border: 1px solid #2A7AE4;
    margin-bottom: 10px;
    padding-left: 5px;


    
    /* Preto/branco */
    
    background: #FFFFFF;
    
}

.container button {
    color: white;
    width: 30%;
    height: 62px;
    left: 508px;
    top: 435px;
    border: none;
    
    /* Azul/100% */
    
    background: #2A7AE4;
    
}

.titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5%;
}

@media (max-width: 425px){
    .container input {
        display: flex;
        width: 60%;
    }
}
@media (max-width: 768px){
    .container input {
        display: flex;
        width: 60%;
    }
    .container button {
        width: 109px;;
    }
}


